#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --tile-width: 30px;
  --tile-height: 30px;
}

label {
  input {
    margin-inline: 0.5em;
  }
  input[type="number"] {
    width: 5ch;
  }
}

.row {
  display: flex;
  flex-direction: row;
}

.tile {
  height: var(--tile-height);
  width: var(--tile-width);
  border: 1px solid hsl(from white h s 40%);
  margin: 2px;
  user-select: none;
  position: relative;
}

.water {
  background-color: hsl(from blue h 70% l);
}

.grass {
  background-color: hsl(from green h 70% l);
}

.dirt {
  background-color: hsl(from #3e160a h 70% l);
}

.grill {
  background-color: hsl(from red h 70% l);
}

.air {
  background-color: hsl(from blue h 40% l);
}

.player-direction-controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 20%;

  button {
    padding: 6px;
  }

  :nth-child(1),
  :nth-child(4) {
    flex-basis: 100%;
  }

  :nth-child(2),
  :nth-child(3) {
    flex-basis: 50%;
  }
}

.layer-control {
  padding: 0px;
  height: 35px;
  width: 35px;
}

.cytoscape-target {
  aspect-ratio: 16 / 9;
  text-align: left;
  background-color: hsl(from #242424 h s calc(l + 10));
  border-radius: 20px;
}

code {
  display: block;
  width: 500px;
  border: 1px solid white;
  border-radius: 5px;
  margin-inline: auto;
  max-height: 150px;
  overflow-y: auto;
}

.tilegrid {
  display: inline-block;
  margin-inline: auto;
}

.icon {
  height: var(--tile-height);
  width: var(--tile-width);
  transform-origin: center;
  position: absolute;
  top: 0px;
  left: 0px;
}
