#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.tile {
  height: 30px;
  width: 30px;
  border: 1px solid hsl(from white h s 40%);
  margin: 2px;
}

.water {
  background-color: hsl(from blue h 70% l);
}

.ground {
  background-color: hsl(from green h 70% l);
}

.grill {
  background-color: hsl(from red h 70% l);
}

.player-direction-controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 20%;

  button {
    padding: 6px;
  }

  :nth-child(1),
  :nth-child(4) {
    flex-basis: 100%;
  }

  :nth-child(2),
  :nth-child(3) {
    flex-basis: 50%;
  }
}

.cytoscape-target {
  aspect-ratio: 16 / 9;
  text-align: left;
  background-color: hsl(from #242424 h s calc(l + 10));
  border-radius: 20px;
}

code {
  display: block;
  width: 500px;
  border: 1px solid white;
  border-radius: 5px;
  margin-inline: auto;
  max-height: 150px;
  overflow-y: auto;
}

.tilegrid {
  display: inline-block;
  margin-inline: auto;
}
